<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (users.length > 0) { %> <% users.forEach(user => { %>
    <li>
      ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,
      Email: <%= user.email %><% if (user.age) { %>, Age: <%= user.age %><% }
      %><% if (user.bio) { %>, Bio: <%= user.bio %> <% } %> <% }); %> <% } else
      { %>
      <p>No user named <%= searchString %></p>
      <% } %>
      <a href="/">Go to home</a>
    </li>
  </body>
</html>
